.container{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
    border-radius: 20px;
    

}
#submit{
     width: 80%;
}
#email{
    width: 50%;
}
#pass{
    width:50%
}